#tabla {
    width: 20%;
    height: 10%;
}

td {
    padding: 20px !important
}

#opcion {
    display: inline-flex;
}

@media only screen and (max-width: 325px) {
    #opcion{
        padding: 1px;
    }
}

.active{
    border-color: aliceblue !important;
    color:white !important;
    text-decoration:none 
}

